/* 
- Font Google Kanit 
*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;500;800&display=swap');

html, body, * {
    font-family: 'Kanit', sans-serif;
}

/* 
- Memanggil Class Menggunakan .
- Menggunakan Nama Class 
*/
.containerr {
    /*
    background-color => warna background
    */
    background-color: violet;
    /*  
    Color => Warna Text
    */
    color: green;
}

.titlee {
    /* 
    font-size => Ukuran Font
    */
    font-size: 70px;
    text-align: center;
}

/* 
- Menulis Komentar CSS Menggunakan Keyboard => CTRIL + /
- Memanggil ID Menggunakan #
- Pemakaian ID Hanya Bisa Digunakan 1x Di 1 File Saja
- ID Tidak Bisa Digunakan Berulang - Ulang
*/
#box {
    /* Lebar */
    width: 500px;
    /* Tinggi */
    height: 500px;
    /* Posisi */
    border: 2px solid red;
}

#judul {
    text-align: center;
    
    font-size: 3em;
}

.my-nav {
    /* 
    # => Baerupa HEX
    */
    background-color: #000;
    /* 
    - Height => Tinggi (Atas Bawah)
    - Width => lebar (Kiri Kanan)
    */
    height: 70px;
    font-size: 18px;
}

.navbar-brand {
    font-size: 2.5em;
    /* 
    - Untuk Judul Ketebalan => 800
    - Paragraf => 100, 200, 300
    - Sub Judul => 500, 600
    */
    font-weight: 800;
    /* 
    - letter-spacing =? Kasih Jarak
    */
    letter-spacing: 3px;
}

.title {
    font-size: 4em;
    font-weight: 800;
    letter-spacing: 5px;
    color: #fff;
}

.descripsi {
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 2px;
}

.mybg {
    /* 
    - Memanggil Assets Gambar    
    */
    background-image: url("assets/background_utama.jpg");
    background-position: center;
    /* 
    - Supaya Background Tidak Berulang
    */
    background-repeat: no-repeat;
    /* 
    Supaya Background Full Screen
    */
    background-size: cover;
}


